a1.sources = r1
a1.sinks = k1
a1.channels = c1

a1.sources.r1.type = exec
a1.sources.r1.command = ./catdata.sh
a1.sources.r1.batchsize = 40
a1.sources.r1.channels = c1

a1.sinks.k1.type = avro
a1.sinks.k1.hostname = 10.0.0.4
a1.sinks.k1.port = 41415
a1.sinks.k1.channel = c1

a1.channels.c1.type = memory
a1.channels.c1.capacity = 1000
